<div class="wrap-settings">
{{outlet}}
</div>

<div {{bind-attr class="auth.authorized:extra-settings-active:extra-settings-inactive"}}>
<fieldset>
	<legend>
    <span>{{ t 'section.mediaintegration.title' }}</span>
  </legend>
  <p>{{ t 'section.mediaintegration.help' }}</p>
  <p>
	<label>
    {{input type="checkbox" name="syncOnMediaUpload"
    checked=config.syncOnMediaUpload}}{{t 'button.sync-on-upload' }}
	</label>
  </p>
  <p>
	<label>
    {{input type="checkbox" name="syncOnMediaEdit"
    checked=config.syncOnMediaEdit}}{{ t 'button.sync-on-edit' }}
	</label>
  </p>
  {{wp-button action='updateMediaOptions' label='Save Changes'}}
</fieldset>

<fieldset>
	<legend><span>{{ t 'section.cleanup.title' }}</span></legend>
  <p>If you wish to uninstall the plugin you can optionally empty the
  <a {{ bind-attr href='albumUrl' }}>Album</a> on the Imgur server containing your synced images.</p>
  {{wp-progress-button
    startAction='startDeleteImage'
    stopAction='stopDeleteImage'
    startLabelTranslation='button.cleanup'
    stopLabelTranslation='button.cancel'
    progress=image.progress
    started=image.active
   }}
</fieldset>
</div>
