<div class="sync">
  {{#if active}}
    <p>
     {{t 'help.sync-active'}}
    </p>
  {{else}}
    <p>
    {{t 'help.sync' }}
    </p>
  {{/if}}
  {{wp-progress-button
    startAction='startSync'
    stopAction='stopSync'
    startLabelTranslation='button.start-sync'
    stopLabelTranslation='button.stop-sync'
    progress=progress
    started=active
   }}
   {{#if current.thumbnail }}
     <img
      {{ bind-attr src=current.thumbnail }}
      {{ bind-attr class='active:sync-thumb:hide' }} />
   {{/if }}
</div>

